@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
  min-width: 1024px;
  margin: 0 auto;
}

.Mapa{
  background-color: blue;
  height: 800px;
}
#map { 
  height: 76.04562737642586vh; 
  width: 100%;
}
/*
.Mapa{
  background-color: greenyellow;
  width: 100%;
  height: 100%;
}

#map { 
  margin-left: 5%;
  width: 90%;
  height: 76.04562737642586vh; 
}
*/

.Titulos {
  color: black;
  font-family: 'Kanit', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.Textos {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.PrimeiroCarrocel {
  width: 100%;
}

.SegundoCarrocel {
  margin-top: 50%;
  margin-left: 5%;
  width: 90%;
  height: 550px;
}

.containerNoticia {
  width: 100%;
  background-color: rgba(65, 214, 206, 0.349);
}

/* Carrossel*/
#slider {
  width: 100%;
  height: 80%;
}

#slider img {
  opacity: 0;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 40%;
  transition: opacity 800ms;
}

#slider img.selected {
  opacity: 1;
}

/* 2º Carrocel  */
.tituloInformacoes {
  width: 90%;
  margin-top: 5%;
  margin-bottom: 2%;
  padding-left: 10%;
  display: flex;
  justify-content: center;
  justify-items: flex-end;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.container {
  margin-left: 35%;
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
}

/* Gallery list layout */

.gallery {
  position: relative;
  list-style: none;
  width: 100%;
  height: 100%;
}

/* Individual item a.k.a "slide" structure */
/* Tamanho do carrosel */

.slide {
  position: absolute;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  width: 70%;
  height: 70%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;

  gap: 0.5rem;
}

/* Slide states */

.slide.active {
  opacity: 1;
  z-index: 2;
  transform: translate(0px) scale(1);
}

.slide.lqueue {
  opacity: 0.64;
  z-index: 1;
  transform: translate(-100%) scale(0.64);
}

.slide.rqueue {
  opacity: 0.64;
  z-index: 1;
  transform: translate(100%) scale(0.64);
}

.slide.lhidden {
  opacity: 0;
  z-index: auto;
  transform: translate(-160%) scale(0);
}

.slide.rhidden {
  opacity: 0;
  z-index: auto;
  transform: translate(160%) scale(0);
}

.slide.lqueue *,
.slide.rqueue *,
.slide.lhidden *,
.slide.rhidden * {
  pointer-events: none;
}

.slide.lqueue *::selection,
.slide.rqueue *::selection,
.slide.lhidden *::selection,
.slide.rhidden *::selection {
  background-color: transparent;
}

/* Slide specifics */
/* foto */
.foto {
  object-position: top;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 40%;
}

/* Descrição */
.slide--name,
.slide--description {
  align-items: center;
  text-align: justify;
  width: 100%;
}

.slide--description p {
  justify-content: center;
  margin-top: 5%;
}

.button {
  justify-content: center;
  width: 80px;
  height: 10%;
  background-color: rgb(18, 164, 221);
  border-radius: 10%;
  color: black;
  border: solid 2px rgb(16, 144, 194);
}

.slide button {
  margin-top: 5%;
  margin-left: 40%;
}

.button a {
  font-size: 15px;
  text-decoration: none;
  color: inherit;
}

.fotofundo {
  position: absolute;
  z-index: 1;
  transition: all 0.3s;
  width: 80%;
  height: 80%;
  gap: 0.5rem;
}

.slide--description {
  width: 80%;
  height: 80%;
  position: absolute;
  z-index: 2;
  background-color: rgb(78, 214, 65);
  transition: all 0.3s;
  margin-left: 35%;
  border-top-left-radius: 40%;
  border-bottom-right-radius: 40%;
}

.slide--description .DescriçãoDesktop {
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
}

.Titulos2 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
}

.DescriçãoDesktop {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.slide--description .Titulos2 {
  padding-top: 5%;
  text-align: center;
}

.slide--description .Textos {
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
}

/* Nótica */

.tituloNoticia {
  margin-left: 5%;
  width: 90%;
  display: flex;
  justify-content: center;
  justify-items: flex-end;
  position: relative;
}

.Titulos a{
  text-decoration: none;
  color: black;
}

.tituloNoticia .Titulos {
  margin-top: 5%;
}

.TresNoticia {
  margin-top: 5%;
  display: flex;
}

.PrimeiraNoticia {
  display: flex;
  width: 100%;
  height: 50%;
  margin-left: 2%;
  margin-right: 2%;
}

.PrimeiraNoticiaFoto img {
  width: 100%;
}

.PrimeiraNoticiaDescricao {
  padding-left: 5%;
  padding-right: 5%;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: justify;
}

.PrimeiraNoticiaDescricao .Titulos {
  display: flex;
  justify-content: center;
}

.SegundaNoticia {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.SegundaNoticiaFoto img {
  background-color: black;
  width: 95%;
}

.SegundaNoticiaDescricao {
  justify-content: center;
  width: 95%;
  height: 100%;
  text-align: justify;
}

.Partead {
  width: 100%;
}

.DescriçãoAd {
  text-align: center;
  width: 90%;
  background-color: white;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.ad video {
  width: 90%;
}

hr {
  margin-top: 2%;
  margin-bottom: 2%;
}

.descriçãoTablet {
  display: none;
}

.SegundaParteNoticias {
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  width: 100%;
  height: 100%;
}

.SegundaParteNoticia {
  display: flex;
  margin-top: 2%;
}

.SegundaParteNoticiaFoto {
  width: 50%;
  height: 80%;
}

.Titulos3 {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
}

.SegundaParteNoticiaFoto img {
  width: 100%;
  height: 100%;
}

.SegundaParteNoticiaDescricao {
  padding-left: 5%;
  padding-right: 5%;
  width: 50%;
  text-align: justify;
}

.teste {
  display: flex;
  margin-top: 1.5%;
  margin-bottom: 2%;
}

.teste1 {
  display: flex;
  margin-top: 1.5%;
  margin-bottom: 2%;
}

a {
  text-decoration: none;
  color: black;
}